<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>judgeDeviceAndGetDirection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3328D3741CF3EBC0008B771D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3328D38D1CF3EBC1008B771D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3328D3981CF3EBC1008B771D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
